/*********************************************
 * MIXINS
 *********************************************/
@font-face {
  font-family: 'AmazonEmber-Thin';
  src: url("./css/fonts/AmazonEmber-Thin.eot");
  src: url("./css/fonts/AmazonEmber-Thin.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Thin.woff") format("woff"), url("./css/fonts/AmazonEmber-Thin.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Thin.svg#AmazonEmber-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Light';
  src: url("./css/fonts/AmazonEmber-Light.eot");
  src: url("./css/fonts/AmazonEmber-Light.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Light.woff") format("woff"), url("./css/fonts/AmazonEmber-Light.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Light.svg#AmazonEmber-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Regular';
  src: url("./css/fonts/AmazonEmber-Regular.eot");
  src: url("./css/fonts/AmazonEmber-Regular.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Regular.woff") format("woff"), url("./css/fonts/AmazonEmber-Regular.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Regular.svg#AmazonEmber-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Bold';
  src: url("./css/fonts/AmazonEmber-Bold.eot");
  src: url("./css/fonts/AmazonEmber-Bold.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Bold.woff") format("woff"), url("./css/fonts/AmazonEmber-Bold.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Bold.svg#AmazonEmber-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

body {
  color: #232f3e;
  font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AmazonEmber-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232f3e;
  line-height: 1.2;
  margin: 0 0 1rem; }

h1, .h1 {
  line-height: 1.2; }
  h1, .h1 {
    font-size: 2.25rem; }
    @media screen and (min-width: 25rem) {
      h1, .h1 {
        font-size: calc(2.25rem + 2.4375 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h1, .h1 {
        font-size: 4.6875rem; } }

h2, .h2 {
  font-size: 1.75rem; }
  @media screen and (min-width: 25rem) {
    h2, .h2 {
      font-size: calc(1.75rem + 2 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h2, .h2 {
      font-size: 3.75rem; } }

h3, .h3 {
  font-size: 1.5rem; }
  @media screen and (min-width: 25rem) {
    h3, .h3 {
      font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h3, .h3 {
      font-size: 2.5rem; } }

h4, .h4 {
  font-size: 1.125rem; }
  @media screen and (min-width: 25rem) {
    h4, .h4 {
      font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h4, .h4 {
      font-size: 1.5rem; } }

h5, .h5 {
  font-size: 1rem; }
  @media screen and (min-width: 25rem) {
    h5, .h5 {
      font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h5, .h5 {
      font-size: 1.25rem; } }

h6, .h6 {
  font-family: AmazonEmber-Light, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  h6, .h6 {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      h6, .h6 {
        font-size: calc(1rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h6, .h6 {
        font-size: 1.125rem; } }

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0; }
  p {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      p {
        font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      p {
        font-size: 1.25rem; } }

a, p > a {
  line-height: 1.875;
  color: #00a1c9;
  text-decoration: underline; }
  a, p > a {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      a, p > a {
        font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      a, p > a {
        font-size: 1.25rem; } }
  a:hover, p > a:hover {
    color: #007dbc; }

.ctaButton, main section.page .nextButton {
  padding: 12px 40px 12px;
  margin: 16px 0px;
  font-size: 1rem;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 0px 0px 3px;
  border-style: solid;
  border-color: #ff9900 #ff9900 #d5dbdb;
  max-width: 100%;
  outline: 0px;
  border-radius: 0px;
  font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  color: #232f3e;
  text-decoration: none !important;
  background: #ff9900;
  min-width: 190px;
  display: inline-block; }
  .ctaButton:hover, main section.page .nextButton:hover {
    color: #232f3e; }

@-webkit-keyframes radioCheck {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes radioCheck {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

input[type=radio], input[type=checkbox] {
  display: none; }
  input[type=radio] + label, input[type=checkbox] + label {
    padding: 8px 0 8px 36px;
    font-size: 16px;
    line-height: 24px;
    display: block;
    min-height: 40px;
    color: white;
    position: relative; }
    input[type=radio] + label::before, input[type=checkbox] + label::before {
      content: '';
      height: 20px;
      width: 20px;
      background: linear-gradient(-135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
      position: absolute;
      top: 10px;
      left: 0;
      border-radius: 99em; }
    input[type=radio] + label:hover, input[type=checkbox] + label:hover {
      cursor: pointer; }
  input[type=radio]:checked + label::after, input:checked[type=checkbox] + label::after {
    -webkit-animation: radioCheck 0.2s forwards;
            animation: radioCheck 0.2s forwards;
    content: '';
    height: 10px;
    width: 10px;
    background: white;
    position: absolute;
    top: 15px;
    left: 5px;
    border-radius: 99em; }
  @media only screen and (min-width: 750px) {
    input[type=radio] + label, input[type=checkbox] + label {
      padding-left: 136px; }
      input[type=radio] + label::before, input[type=checkbox] + label::before {
        left: 100px; }
    input[type=radio]:checked + label::after, input:checked[type=checkbox] + label::after {
      left: 105px; } }

input[type=checkbox] + label::before {
  border-radius: 0; }

input[type=checkbox]:checked + label::after {
  border-radius: 0;
  background: url("./img/aws-training-icon-checkmark.svg") no-repeat center;
  background-size: 11px 10px;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 0px; }

@media only screen and (min-width: 750px) {
  input[type=checkbox]:checked + label::after {
    left: 100px; } }

form[id^="mktoForm"].mktoForm {
  display: none;
  background: white; }
  form[id^="mktoForm"].mktoForm input[type=radio] + label, form[id^="mktoForm"].mktoForm input[type=checkbox] + label,
  form[id^="mktoForm"].mktoForm input[type=checkbox] + label {
    padding-left: 0;
    color: black;
    display: block; }
  form[id^="mktoForm"].mktoForm input[type=radio], form[id^="mktoForm"].mktoForm input[type=checkbox],
  form[id^="mktoForm"].mktoForm input[type=checkbox] {
    display: block; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #232f3e;
  height: 100%; }
  @media only screen and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    html, body {
      background: #232f3e url("./img/aws-training-bg-blocks.png") no-repeat bottom right;
      background-size: 147px; } }
  @media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    html, body {
      background: #232f3e url("./img/aws-training-bg-blocks.png") no-repeat bottom right;
      background-size: 147px; } }
  @media screen and (min-height: 700px) {
    html, body {
      background: #232f3e url("./img/aws-training-bg-blocks.png") no-repeat bottom right;
      background-size: 147px; } }
  @media only screen and (min-width: 1024px) {
    html, body {
      position: relative;
      background-size: 321px; } }

*, *:before, *::before, *:after, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body.bodyResults {
  background-image: none; }
  body.bodyResults main, body.bodyResults main section {
    height: auto; }
  body.bodyResults main section.page.quizContainer {
    left: 0;
    right: 0; }
    body.bodyResults main section.page.quizContainer h2, body.bodyResults main section.page.quizContainer div.mainClass {
      margin-right: 20px;
      margin-left: 20px; }
    body.bodyResults main section.page.quizContainer div.otherClassesContainer {
      padding-left: 20px;
      padding-right: 20px; }
  @media only screen and (min-width: 1024px) {
    body.bodyResults main section.page.quizContainer {
      left: 0;
      width: 100%;
      max-width: 100%; }
      body.bodyResults main section.page.quizContainer .otherClassesContainer {
        max-width: 1130px;
        width: calc(100% - 40px); } }

div.innerContainer {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px; }
  div.innerContainer::after {
    clear: both;
    content: "";
    display: block; }

div.innerHeader {
  margin: 0 20px;
  padding: 20px 0px;
  max-width: 1170px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  div.innerHeader::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 1170px) {
    div.innerHeader {
      margin: 0 auto;
      max-width: 1130px; } }

.insideHeader .logoLink {
  display: block;
  width: 66px;
  float: left; }
  .insideHeader .logoLink img {
    vertical-align: top; }

.insideHeader span {
  font-size: 18px;
  line-height: 18px;
  font-family: AmazonEmber-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  width: 96px;
  display: block;
  float: left;
  margin-left: 11px; }

@-webkit-keyframes moveElementsInPlace {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveElementsInPlace {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveElementsOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px); } }

@keyframes moveElementsOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px); } }

@-webkit-keyframes moveElementsIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(110px);
            transform: translateX(110px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveElementsIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(110px);
            transform: translateX(110px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media only screen and (min-width: 1024px) {
  @-webkit-keyframes moveElementsIn {
    0% {
      opacity: 0;
      -webkit-transform: translateX(110px);
              transform: translateX(110px); }
    50% {
      opacity: 0; }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  @keyframes moveElementsIn {
    0% {
      opacity: 0;
      -webkit-transform: translateX(110px);
              transform: translateX(110px); }
    50% {
      opacity: 0; }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } } }

main {
  padding-top: 32px; }
  main .innerContainer {
    overflow: hidden; }
  main section {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    left: 0px;
    right: 20px; }
    main section .moveIn-q1 {
      -webkit-animation: moveElementsIn 500ms ease-in 70ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 70ms 1 forwards; }
    main section .moveIn-q2 {
      -webkit-animation: moveElementsIn 500ms ease-in 100ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 100ms 1 forwards; }
    main section .moveIn-q3 {
      -webkit-animation: moveElementsIn 500ms ease-in 130ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 130ms 1 forwards; }
    main section .moveIn-q4 {
      -webkit-animation: moveElementsIn 500ms ease-in 160ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 160ms 1 forwards; }
    main section .moveIn-q5 {
      -webkit-animation: moveElementsIn 500ms ease-in 190ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 190ms 1 forwards; }
    main section .moveIn-q6 {
      -webkit-animation: moveElementsIn 500ms ease-in 220ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 220ms 1 forwards; }
    main section .moveIn-q7 {
      -webkit-animation: moveElementsIn 500ms ease-in 250ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 250ms 1 forwards; }
    main section .moveIn-q8 {
      -webkit-animation: moveElementsIn 500ms ease-in 280ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 280ms 1 forwards; }
    main section .moveIn-q9 {
      -webkit-animation: moveElementsIn 500ms ease-in 310ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 310ms 1 forwards; }
    main section .moveIn-q10 {
      -webkit-animation: moveElementsIn 500ms ease-in 340ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 340ms 1 forwards; }
    main section .moveIn-place {
      -webkit-animation: moveElementsInPlace 1s 0s 1 forwards;
              animation: moveElementsInPlace 1s 0s 1 forwards; }
    main section .moveOut {
      -webkit-animation: moveElementsOut 0.5s ease-in 0s 1 forwards;
              animation: moveElementsOut 0.5s ease-in 0s 1 forwards; }
    main section .moveIn {
      -webkit-animation: moveElementsIn 0.5s ease-in 0.3s 1 forwards;
              animation: moveElementsIn 0.5s ease-in 0.3s 1 forwards; }
    main section .moveIn-header {
      -webkit-animation: moveElementsIn 0.5s ease-in 0s 1 forwards;
              animation: moveElementsIn 0.5s ease-in 0s 1 forwards; }
    main section h1, main section h3, main section p {
      color: white; }
    main section h3 {
      white-space: pre-line; }
    main section.pageStart {
      padding-left: 20px;
      padding-top: 25px; }
      main section.pageStart .ctaButton, main section.pageStart section.page .nextButton, main section.page section.pageStart .nextButton {
        margin-top: 40px; }
      main section.pageStart.noHeight {
        -webkit-transition: height 0s ease;
        transition: height 0s ease;
        height: 0;
        min-height: 0; }
        main section.pageStart.noHeight .moveOut {
          -webkit-transition: height 0s ease;
          transition: height 0s ease;
          height: 0;
          min-height: 0; }
    main section.page .questionsHold {
      opacity: 0;
      -webkit-transition: -webkit-transform 1.5s ease;
      transition: -webkit-transform 1.5s ease;
      transition: transform 1.5s ease;
      transition: transform 1.5s ease, -webkit-transform 1.5s ease;
      overflow: hidden;
      padding-left: 20px; }
      main section.page .questionsHold.show {
        opacity: 1; }
      main section.page .questionsHold div.buttonHolder, main section.page .questionsHold h1, main section.page .questionsHold input, main section.page .questionsHold label, main section.page .questionsHold h3 {
        -webkit-transform: translateX(105%);
                transform: translateX(105%); }
    main section.page .pageNumber {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
      margin-bottom: 19px;
      color: rgba(255, 255, 255, 0.75);
      font-size: 42px;
      line-height: 0.8;
      letter-spacing: 2px;
      font-family: AmazonEmber-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      main section.page .pageNumber {
        font-size: 2.625rem; }
        @media screen and (min-width: 25rem) {
          main section.page .pageNumber {
            font-size: calc(2.625rem + 6.375 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          main section.page .pageNumber {
            font-size: 9rem; } }
    main section.page .nextButton {
      background: #eaeded;
      color: #a2bcc0; }
      main section.page .nextButton:enabled {
        color: #232f3e; }
      main section.page .nextButton:disabled:hover {
        color: #a2bcc0;
        cursor: not-allowed; }
      main section.page .nextButton.btnHidden {
        display: none; }
    main section.page .previousButton {
      display: block; }
      main section.page .previousButton.btnHidden {
        display: none; }
  main .btnHidden {
    display: none; }
  @media only screen and (min-width: 750px) {
    main section {
      min-height: calc(100% - 113px); }
      main section.pageStart {
        max-width: 875px; }
        main section.pageStart h1 {
          margin-bottom: 1.125rem; }
        main section.pageStart .ctaButton, main section.pageStart section.page .nextButton, main section.page section.pageStart .nextButton {
          margin-top: 2rem; }
      main section.page .questionsHold {
        max-width: 875px; }
      main section.page .pageNumber {
        position: absolute;
        bottom: 20px;
        right: 20px;
        line-height: 0.9;
        letter-spacing: 4px;
        margin: 0; }
      main section.page .nextButton, main section.page .previousButton, main section.page .ctaButton, main section.page .nextButton {
        margin-left: 100px; }
      main section.page .nextButton {
        margin-top: 40px; } }
  @media only screen and (min-width: 1024px) {
    main {
      height: calc(100% - 113px); }
      main section {
        left: 0px;
        width: 100%; }
        main section.pageStart {
          left: 0px;
          -webkit-transform: translateX(0);
                  transform: translateX(0); }
      main #question h3 {
        margin-bottom: 3rem; } }
  @media only screen and (min-width: 1170px) {
    main section.pageStart {
      max-width: 975px;
      left: calc((100% - 1330px) / 2);
      padding-left: 100px; }
    main section.quizContainer .questionsHold {
      max-width: calc(875px + (100% - 1130px) / 2);
      padding-left: calc((100% - 1130px) / 2); } }

#quiz-results {
  background: transparent;
  width: 100%;
  display: block;
  margin-top: 0; }
  #quiz-results h2 {
    color: white;
    margin-bottom: 1.5rem; }
    #quiz-results h2 {
      font-size: 1.5rem; }
      @media screen and (min-width: 25rem) {
        #quiz-results h2 {
          font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        #quiz-results h2 {
          font-size: 2.5rem; } }
    #quiz-results h2 span {
      display: none;
      background: rgba(255, 255, 255, 0.05);
      font-size: 1.75rem;
      color: #ff9900;
      font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      padding: 0 1.5rem;
      text-transform: uppercase;
      line-height: 48px;
      letter-spacing: 1px; }
  #quiz-results .mainClass {
    padding: 1.5rem 1.25rem 2rem;
    background: rgba(0, 0, 0, 0.15);
    text-align: center; }
    #quiz-results .mainClass img {
      width: 96px;
      margin-bottom: 1.5rem; }
    #quiz-results .mainClass h3 {
      line-height: 1.25rem;
      letter-spacing: 1.25px;
      text-transform: uppercase; }
      #quiz-results .mainClass h3 {
        font-size: 1.25rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .mainClass h3 {
            font-size: calc(1.25rem + 0.5 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .mainClass h3 {
            font-size: 1.75rem; } }
    #quiz-results .mainClass p {
      margin-bottom: 1.5rem; }
  #quiz-results .otherClassesContainer {
    margin: 2rem auto; }
    #quiz-results .otherClassesContainer h4 {
      font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.625rem;
      color: white;
      margin-bottom: 1.875rem;
      font-weight: 400; }
      #quiz-results .otherClassesContainer h4 {
        font-size: 1.125rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .otherClassesContainer h4 {
            font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .otherClassesContainer h4 {
            font-size: 1.5rem; } }
    #quiz-results .otherClassesContainer article {
      padding: 1.5rem 1.25rem;
      margin-bottom: 1.5rem;
      background: rgba(0, 0, 0, 0.15);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      #quiz-results .otherClassesContainer article img {
        width: 64px; }
      #quiz-results .otherClassesContainer article div {
        padding-left: 1.5rem; }
      #quiz-results .otherClassesContainer article h5 {
        line-height: 1.25rem;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        margin-bottom: .5rem; }
        #quiz-results .otherClassesContainer article h5 {
          font-size: 1rem; }
          @media screen and (min-width: 25rem) {
            #quiz-results .otherClassesContainer article h5 {
              font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
          @media screen and (min-width: 73.125rem) {
            #quiz-results .otherClassesContainer article h5 {
              font-size: 1.25rem; } }
      #quiz-results .otherClassesContainer article p {
        margin-top: 0;
        margin-bottom: .625rem; }
  @media only screen and (min-width: 750px) {
    #quiz-results {
      margin: 0 auto;
      text-align: center; }
      #quiz-results h2 {
        max-width: 870px;
        margin: 0 auto 1.5rem; }
        #quiz-results h2 span {
          display: inline-block; }
      #quiz-results .mainClass {
        max-width: 970px;
        margin: 0 auto 3.625rem;
        padding: 4rem 6%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: left; }
        #quiz-results .mainClass img {
          width: 180px;
          height: 180px; }
        #quiz-results .mainClass .mainText {
          max-width: calc(100% - 180px);
          padding-left: 2.5rem; }
          #quiz-results .mainClass .mainText h3 {
            line-height: 1.2;
            letter-spacing: 1px;
            margin-bottom: 1.5rem; }
      #quiz-results .otherClassesContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #quiz-results .otherClassesContainer h4 {
          margin-bottom: 2.375rem;
          line-height: 1.5;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
        #quiz-results .otherClassesContainer article {
          -ms-flex-preferred-size: 32%;
              flex-basis: 32%;
          padding: 2rem 1.5rem;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -ms-flex-line-pack: start;
              align-content: flex-start; }
          #quiz-results .otherClassesContainer article img {
            max-width: 97px;
            max-height: 97px;
            margin: 0 auto .9375rem;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
          #quiz-results .otherClassesContainer article div {
            -ms-flex-item-align: start;
                align-self: flex-start;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            padding: 0; } }

.resultsFooter {
  background: url("./img/aws-training-bg-results.png") no-repeat top center;
  padding: 119px 0 109px;
  margin-top: 2.375rem;
  height: auto;
  text-align: left; }
  .resultsFooter h3 {
    color: #232f3e;
    margin-bottom: 1.5rem; }
    .resultsFooter h3 {
      font-size: 1.5rem; }
      @media screen and (min-width: 25rem) {
        .resultsFooter h3 {
          font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        .resultsFooter h3 {
          font-size: 2.5rem; } }
  .resultsFooter a.ctaButton, .resultsFooter main section.page a.nextButton, main section.page .resultsFooter a.nextButton {
    max-width: 275px;
    margin-left: 0 !important; }
  @media only screen and (min-width: 750px) {
    .resultsFooter h3 {
      max-width: 550px;
      margin-bottom: .8125rem; } }
  @media only screen and (min-width: 750px) {
    .resultsFooter {
      background-size: cover; } }
