html, body {
    box-sizing              : border-box;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    margin                  : 0;
    padding                 : 0;
    background              : $body-background-color;
    height : 100%;

    main  {

        min-height : calc(100% - 96px);
        // iPhone 6+, 7+, and 8+
        @media only screen
            and (max-device-width:700px)
            and (-webkit-min-device-pixel-ratio: 2) {
                background      : $body-background-color url('./img/backgrounds/aws-certificate-bg-blocks.png') no-repeat bottom right;
                background-size : 147px;
            }
        // Galaxy S4, S5 and Note 3
        @media screen
            and (device-width: 320px)
            and (device-height: 640px)
            and (-webkit-device-pixel-ratio: 3) {
                background      : $body-background-color url('./img/backgrounds/aws-certificate-bg-blocks.png') no-repeat bottom right;
                background-size : 147px;
            }
        @media screen and (min-height: 700px) {
            background      : $body-background-color url('./img/backgrounds/aws-certificate-bg-blocks.png') no-repeat bottom right;
            background-size : 147px;
        }
        @media only screen and ($desktop-media) {
            position        : relative;
            background-size : 221px;
        }

    }// end main div.innerContainer
}

*, *:before, *::before, *:after, *::after {
    box-sizing : inherit;
}

body {
    // height : 100%;
}
main {
    .startLine {
        padding-left : calc((100% - 1322px) / 2);
        height       : 41px;
        position     : relative;
        &::before {
            content    : '';
            position   : absolute;
            bottom     : 0;
            left       : 0;
            height     : 4px;
            width      : calc((100% - 1322px) / 2);
            background : $brand-amazon-orange;
        }
        .shapeHolder {
            background  : url('./img/design/aws-certificate-shape.png') no-repeat top left;
            height      : 41px;
            width       : 76px;
            display     : block;
            transform   : scaleX(-1);
            margin-left : -2px;
            position    : relative;
            &::after {
                content    : '';
                position   : absolute;
                top        : 0;
                right      : 74px;
                height     : 4px;
                max-width  : 901px;
                width      : 901px;
                background : $brand-amazon-orange;
            }
        }
        &.noHeight {
            @include noHeight();
            &::before {
                @include noHeight();
            }
            .moveOut {
                @include noHeight();
                &::after {
                    @include noHeight();
                }
            }
        }
        @media only screen and ($desktop-media) {

        }
    }
}
body.bodyResults {
    background-image : none;
    main, main section {
        height : auto;
    }
    main section.page {
        &.quizContainer {
            left  : 20px;
            right : 20px;
            h2, div.mainClass {
                // margin-right : 20px;
                // margin-left : 20px;
            }
            div.otherClassesContainer {
                // padding-left : 20px;
                // padding-right : 20px;
            }
        }
    }
    @media only screen and ($tablet-media) {
        main section.page {
            &.quizContainer {
                left  : 0;
                right : 0;
                h2, div.mainClass {
                }
                div.otherClassesContainer {
                }
            }
        }
    }// end media($tablet-media)
    @media only screen and ($desktop-media) {
        main section.page.quizContainer {
            left      : 0;
            width     : 100%;
            max-width : 100%;
            .otherClassesContainer {
                max-width : 1130px;
                width     : calc(100% - 40px);
            }
        }
    }
}// end body.bodyResults
div.innerContainer {
    @include clearfix;
    padding   : 0 20px;
    margin    : 0 auto;
    width     : 100%;
    max-width : 1210px;
}
div.innerHeader {
    @include clearfix;
    margin        : 0 20px;
    padding       : 26px 0px 27px;
    max-width     : 1170px;
    border-bottom : 1px solid rgba(255, 255, 255, 0.15);
    @media only screen and (min-width: 1170px) {
        margin    : 0 auto;
        max-width : 1170px;
    }
}

.insideHeader {
    .logoLink {
        display : block;
        float   : left;
        img {
            vertical-align : top;
            height : 43px;
        }
    }
}// end .insideHeader

@mixin elementAnimation($gap: 30, $duration: 500) {
    $delay : 40;
    // $gap : 30;
    @for $i from 1 through 20 {
        $delay: $delay + $gap;
        .moveIn-q#{$i} {
            animation : moveElementsIn #{$duration}ms ease-in #{$delay}ms 1 forwards;
        }
    }
}

@keyframes moveElementsInPlace {
    0% {
        opacity   : 0;
        transform : translateX(0);
    }
    100% {
        opacity   : 1;
        transform : translateX(0);
    }
}
@keyframes moveElementsOut {
    0% {
        opacity   : 1;
        transform : translateX(0);
    }
    30% {
        opacity : 0;
    }
    100% {
        opacity   : 0;
        transform : translateX(-110px);
    }
}

@keyframes moveElementsIn {
    0% {
        opacity   : 0;
        transform : translateX(110px);
    }
    100% {
        opacity   : 1;
        transform : translateX(0);
    }
}
@media only screen and ($desktop-media) {
    @keyframes moveElementsIn {
        0% {
            opacity   : 0;
            transform : translateX(110px);
        }
        50% {
            opacity : 0;
        }
        100% {
            opacity   : 1;
            transform : translateX(0);
        }
    }
}



// Body Styles
main {
    padding-top : 0px;
    .innerContainer {
        overflow : hidden;
    }
    section {
        @include elementAnimation();
        .moveIn-place {
            animation : moveElementsInPlace 1s 0s 1 forwards;
        }
        .moveOut {
            animation : moveElementsOut 0.5s ease-in 0s 1 forwards;
        }
        .moveIn {
            animation : moveElementsIn 0.5s ease-in 0.3s 1 forwards;
        }
        .moveIn-header {
            animation : moveElementsIn 0.5s ease-in 0s 1 forwards;
        }
        h1, h3, p {
            color : $body-font-color;
        }
        h3 {
            white-space : pre-line;
        }
        span.hintText {
            @include fluid-type(0.875rem, 1.125rem);
            font-family    : $base-font;
            font-weight    : 400;
            text-transform : uppercase;
            display        : block;
            margin-top     : 13px;
        }
        position : absolute;
        overflow : hidden;
        z-index  : 10;
        left     : 0px;
        right    : 20px;
        &.pageStart {
            padding-left : 20px;
            padding-top  : 96px;
            .ctaButton {
                margin-top : 40px;
            }
            &.noHeight {
                @include noHeight();
                .moveOut {
                    @include noHeight();
                }
            }
        }
        &.page {
            .questionsHold {
                opacity      : 0;
                transition   : transform 1.5s ease;
                overflow     : hidden;
                padding-left : 20px;
                &.show {
                    opacity : 1;
                }
                div.buttonHolder, h1, input, label, h3 {
                    transform : translateX(105%);
                    // transform : translateX(50%);
                    &.halfSize {
                        transform : translateX(210%);
                    }
                }
                div.buttonHolder {
                    //opacity : 0;
                }
            }
            &.quizContainer {
                //position: relative;
            }
            .bottomLine {
                position   : absolute;
                bottom     : 96px;
                width      : 100%;
                background : url('./img/design/aws-certificate-line-bottom.png') no-repeat bottom left;
                display    : block;
                height     : 41px;
            }
            .pageNumber {
                transform: translateX(105%);
                @include fluid-type(2.625rem, 7rem);
                margin-bottom  : 19px;
                color          : rgba($brand-squid-ink, 0.75);
                font-size      : 42px;
                line-height    : 0.8;
                letter-spacing : 2px;
                font-family    : $thin-font;
            }
            .nextButton {
                @extend .ctaButton;
                color : $brand-squid-ink;
                &:enabled {
                    color   : $brand-squid-ink;
                    opacity : 1.0!important;
                }
                &:disabled {
                    opacity : 0.8;
                    &:hover {
                        color  : $brand-squid-ink;
                        cursor : not-allowed;
                    }
                }
                &.btnHidden {
                    display : none;
                }
            }
            .previousButton {
                display : block;
                &.btnHidden {
                    display : none;
                }
            }

        }
    }
    div.questionsHold {
    }
    .btnHidden {
        display : none;
    }
    @media only screen and ($tablet-media) {
        section {
            //min-height : calc(100% - 142px);
            &.quizContainer {
                position       : static;
                padding-bottom : 64px;
                // min-height : calc(100% - 96px);
            }
            &.pageStart {
                max-width : 875px;
                h1 {
                    margin-bottom : 1.125rem;
                }
                .ctaButton {
                    margin-top : 2rem;
                }
            }// end &.pageStart
            &.page {
                .questionsHold {
                    max-width : 875px;
                }

                .pageNumber {
                    position       : absolute;
                    bottom         : 20px;
                    right          : 20px;
                    line-height    : 0.9;
                    letter-spacing : 4px;
                    margin         : 0;
                }
                .nextButton, .previousButton, .ctaButton {
                    margin-left : 136px;
                }
                .mainClass .ctaButton {
                    margin-left : 0;
                }
                .nextButton {
                    margin-top : 40px;
                }
            }
        }
        #question {
            @include clearfix();
        }
    }// end media($tablet-media)
    @media only screen and ($desktop-media) {
        // height : calc(100% - 96px);
        section {
            // @include elementAnimation(30, 250);
            left  : 0px;
            width : 100%;
            &.pageStart {
                left      : 0px;
                transform : translateX(0);
            }
            &.page {
                .pageNumber {
                    position       : absolute;
                    right          : 9%;
                    bottom         : 4%;
                    line-height    : 0.9;
                    letter-spacing : 4px;
                    margin         : 0;
                }
            }
        }
        #question {
            @include clearfix();
            h3 {
                margin-bottom : 2.0625rem;
            }
        }
    }
    @media only screen and ($container){
        section {
            //left : calc(50% - 50px);
            //max-width : 1330px;
            &.pageStart {
                max-width    : 975px;
                left         : calc((100% - 1330px) / 2);
                padding-left : 80px;
            }
            &.page {
                .pageNumber {
                    right          : 16%;
                    bottom         : 9%;
                    line-height    : 0.9;
                    letter-spacing : 4px;
                    margin         : 0;
                }
            }
            &.quizContainer {
                .questionsHold {
                    max-width    : calc(855px + (100% - 1170px) / 2);
                    padding-left : calc((100% - 1170px) / 2);
                }
            }
        }
    }
}// end main

body.bodyResults {
    main section,
    main div.innerContainer {
        overflow : visible;
    }

}
#quiz-results {
    background : transparent;
    width      : 100%;
    display    : block;
    margin-top : 0px;
    .resultsHeader {
        max-width    : 1170px;
        position     : relative;
        padding-left : calc((100% - 1170px) / 2);
        box-sizing   : content-box;
        &::before {
            content    : '';
            position   : absolute;
            bottom     : 21px;
            left       : -800px;
            height     : 4px;
            max-width  : 800px;
            width      : 800px;
            background : $brand-amazon-orange;
            z-index    : 15;
        }
        .shapeResults {
            background  : url('./img/design/aws-certificate-shape.png') no-repeat top left;
            height      : 41px;
            width       : 76px;
            display     : block;
            position    : absolute;
            z-index     : 5;
            margin-left : -2px;
            &::after {
                content    : '';
                position   : absolute;
                height     : 4px;
                bottom     : 0;
                left       : 74px;
                background : $brand-amazon-orange;
            }
        }
        .shapeHolderLeftResults {
            bottom : -16px;
            &::after {
                max-width : 110px;
                width     : 110px;
            }
        }
        .innerHolder {
            display     : inline-block;
            position    : relative;
            padding-top : 22px;
            padding-bottom : 22px;
            .shapeHolderRightResults {
                top   : 0;
                right : -25px;
                &::after {
                    max-width : 1200px;
                    width     : 1200px;
                }
                &::before {
                    content    : '';
                    position   : absolute;
                    top        : 0;
                    left       : -108px;
                    height     : 4px;
                    max-width  : 110px;
                    width      : 110px;
                    background : $brand-amazon-orange;
                }
            }
        }

        div.innerResults {
            position       : relative;
            padding-right  : 20px;
            padding-left   : 20px;
            padding-bottom : 22px;
            margin         : 0 auto;
            padding-top    : 37px;
            max-width      : 1170px;
            background     : $brand-chromium;
        }

        h2 {
            @include fluid-type(1.5rem, 2.5rem);
            color         : $brand-squid-ink;
            margin-bottom : 1rem;
        }
        p {
            @include fluid-type(1rem, 1.125rem);
            margin-bottom : 0;
        }
        @media only screen and ($tablet-media) {
            &::before {
                bottom : 59px;
            }
            .shapeHolderLeftResults {
                bottom : 22px;
                &::after {
                    max-width : 110px;
                    width     : 110px;
                }
            }
            div.innerResults {
                padding-right : 100px;
                padding-left  : 100px;
            }
            h2 {
                margin-bottom : 0rem;
            }
        }// end media($tablet-media)
    }// end .resultsHeader

    .mainClass {
        margin     : 0 auto;
        max-width  : 1170px;
        text-align : left;
        background : $brand-chromium;
        div.innerResults {
            padding : 62px 20px 2rem;
        }
        img {
            align-self    : flex-start;
            width         : 159px;
            margin-bottom : 15px;
        }
        h3 {
            @include fluid-type(1.25rem, 2.5rem);
            line-height : 1.25rem;
            font-family : $base-font;
            font-weight : 400;
        }
        p {
            margin-bottom : 1.5rem;
        }
        &.specResults {
            div.innerResults {
                flex-wrap       : wrap;
                justify-content : flex-end;
                article {
                    flex-basis      : 100%;
                    display         : flex;
                    flex-wrap       : wrap;
                    justify-content : center;
                    margin-bottom   : 32px;
                    img {
                        margin-bottom : 24px;
                        width         : 200px;
                    }
                    .mainText {
                        h3 {
                            @include fluid-type(1.5rem, 2rem);
                            line-height    : 1.2;
                            margin-bottom  : 1.5rem;
                        }
                        h3, p {
                            text-align : left;
                        }
                    }
                }// end article
                .specLearnMore {
                    flex-basis : 100%;
                }
            }// end div.innerResults
        }// end &.specResults
    }// end .mainClass
    .otherClassesContainer {
        margin      : 0 auto;
        max-width   : 1170px;
        padding-top : 41px;
        p {
            @include fluid-type(1rem, 1.125rem);
            line-height : 1.2;
            max-width   : 670px;
            a {
                @include fluid-type(1rem, 1.125rem);
                line-height : 1.2;
                color       : $brand-amazon-orange;
            }
        }
    }
    @media only screen and ($tablet-media) {
        margin : 60px auto 0;
        .mainClass {
            margin     : 0 auto 2.625rem;
            text-align : left;
            div.innerResults {
                padding : 60px 100px 85px 100px;
                display : flex;
            }
            img {
                width         : 226px;
                margin-bottom : 1.5rem;
            }
            .mainText {
                text-align   : right;
                max-width    : calc(100% - 226px);
                padding-left : 4.5625rem;
                h3 {
                    line-height    : 1.2;
                    margin-bottom  : 1.5rem;
                }
                h3, p {
                    text-align : left;
                }
            }
            &.thanksResults {
                div.innerResults {
                    padding : 0;
                }
            }
        }// end .mainClass
        .otherClassesContainer {
            padding-top : 0;
        }
    }
    @media only screen and ($desktop-media) {
        .mainClass {
            margin     : 0 auto 2.625rem;
            text-align : left;
            div.innerResults {
                padding : 60px 100px 85px 172px;
                display : flex;
            }
            img {
                width : 226px;
            }
            .mainText {
                text-align   : right;
                max-width    : calc(100% - 226px);
                padding-left : 4.5625rem;
                h3 {
                    line-height   : 1.2;
                    margin-bottom : 1.5rem;
                }
                h3, p {
                    text-align : left;
                }
            }
            &.specResults {
                div.innerResults {
                    flex-wrap       : wrap;
                    justify-content : flex-end;
                    article {
                        flex-basis : 100%;
                        display    : flex;
                        img {
                            width : 150px;
                        }
                        .mainText {
                            text-align   : right;
                            max-width    : calc(100% - 150px);
                            padding-left : 4.5625rem;
                            h3 {
                                line-height   : 1.2;
                                margin-bottom : 1.5rem;
                            }
                            h3, p {
                                text-align : left;
                            }
                        }
                    }
                }
            }// end &.specResults

        }// end .mainClass
    }// end media($desktop-media)
}// end #quiz-results

.resultsFooter {
    background : url('./img/aws-training-bg-results.png') no-repeat top center;
    padding    : 119px 0 109px;
    margin-top : 2.375rem;
    height     : auto;
    text-align : left;
    h3 {
        @include fluid-type(1.5rem, 2.5rem);
        color         : $brand-squid-ink;
        margin-bottom : 1.5rem;
    }
    a.ctaButton {
        max-width   : 275px;
        margin-left : 0!important;
    }
    @media only screen and ($tablet-media) {
        h3 {
            max-width     : 550px;
            margin-bottom : .8125rem;
        }
    }// end media($tablet-media)
    @media only screen and ($tablet-media) {
        background-size : cover;
    }
}// end .resultsFooter



