/*********************************************
 * MIXINS
 *********************************************/
@font-face {
  font-family: 'AmazonEmber-Thin';
  src: url("./css/fonts/AmazonEmber-Thin.eot");
  src: url("./css/fonts/AmazonEmber-Thin.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Thin.woff") format("woff"), url("./css/fonts/AmazonEmber-Thin.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Thin.svg#AmazonEmber-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Light';
  src: url("./css/fonts/AmazonEmber-Light.eot");
  src: url("./css/fonts/AmazonEmber-Light.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Light.woff") format("woff"), url("./css/fonts/AmazonEmber-Light.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Light.svg#AmazonEmber-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Regular';
  src: url("./css/fonts/AmazonEmber-Regular.eot");
  src: url("./css/fonts/AmazonEmber-Regular.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Regular.woff") format("woff"), url("./css/fonts/AmazonEmber-Regular.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Regular.svg#AmazonEmber-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AmazonEmber-Bold';
  src: url("./css/fonts/AmazonEmber-Bold.eot");
  src: url("./css/fonts/AmazonEmber-Bold.eot?#iefix") format("embedded-opentype"), url("./css/fonts/AmazonEmber-Bold.woff") format("woff"), url("./css/fonts/AmazonEmber-Bold.ttf") format("truetype"), url("./css/fonts/AmazonEmber-Bold.svg#AmazonEmber-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

body {
  color: #232f3e;
  font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AmazonEmber-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232f3e;
  line-height: 1.2;
  margin: 0 0 1rem; }

h1, .h1 {
  line-height: 1.2; }
  h1, .h1 {
    font-size: 2.25rem; }
    @media screen and (min-width: 25rem) {
      h1, .h1 {
        font-size: calc(2.25rem + 2.4375 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h1, .h1 {
        font-size: 4.6875rem; } }

h2, .h2 {
  font-size: 1.75rem; }
  @media screen and (min-width: 25rem) {
    h2, .h2 {
      font-size: calc(1.75rem + 2 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h2, .h2 {
      font-size: 3.75rem; } }

h3, .h3 {
  font-size: 1.5rem; }
  @media screen and (min-width: 25rem) {
    h3, .h3 {
      font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h3, .h3 {
      font-size: 2.5rem; } }

h4, .h4 {
  font-size: 1.125rem; }
  @media screen and (min-width: 25rem) {
    h4, .h4 {
      font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h4, .h4 {
      font-size: 1.5rem; } }

h5, .h5 {
  font-size: 1rem; }
  @media screen and (min-width: 25rem) {
    h5, .h5 {
      font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h5, .h5 {
      font-size: 1.25rem; } }

h6, .h6 {
  font-family: AmazonEmber-Light, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  h6, .h6 {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      h6, .h6 {
        font-size: calc(1rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h6, .h6 {
        font-size: 1.125rem; } }

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0; }
  p {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      p {
        font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      p {
        font-size: 1.25rem; } }

a, p > a {
  line-height: 1.875;
  color: #00a1c9;
  text-decoration: underline; }
  a, p > a {
    font-size: 1rem; }
    @media screen and (min-width: 25rem) {
      a, p > a {
        font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      a, p > a {
        font-size: 1.25rem; } }
  a:hover, p > a:hover {
    color: #007dbc; }

.ctaButton, main section.page .nextButton {
  padding: 12px 40px 12px;
  margin: 16px 0px;
  font-size: 1rem;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 0px 0px 3px;
  border-style: solid;
  border-color: #ff9900 #ff9900 #d5dbdb;
  max-width: 100%;
  outline: 0px;
  border-radius: 0px;
  font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  color: #232f3e;
  text-decoration: none !important;
  background: #ff9900;
  min-width: 190px;
  display: inline-block; }
  .ctaButton:hover, main section.page .nextButton:hover {
    color: #232f3e; }
  .ctaButton.submitButton, main section.page .submitButton.nextButton {
    opacity: 1 !important; }

@-webkit-keyframes radioCheck {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes radioCheck {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

input[type=radio], input[type=checkbox] {
  display: none; }
  input[type=radio] + label, input[type=checkbox] + label {
    padding: 11px 0 11px 36px;
    font-size: 18px;
    line-height: 24px;
    display: block;
    min-height: 40px;
    color: #232f3e;
    position: relative; }
    input[type=radio] + label::before, input[type=checkbox] + label::before {
      content: '';
      height: 22px;
      width: 22px;
      background: linear-gradient(-135deg, rgba(35, 47, 62, 0.2), rgba(35, 47, 62, 0.05));
      position: absolute;
      top: 14px;
      left: 0;
      border-radius: 99em; }
    input[type=radio] + label:hover, input[type=checkbox] + label:hover {
      cursor: pointer; }
  input[type=radio]:checked + label::after, input:checked[type=checkbox] + label::after {
    -webkit-animation: radioCheck 0.2s forwards;
            animation: radioCheck 0.2s forwards;
    content: '';
    height: 10px;
    width: 10px;
    background: #232f3e;
    position: absolute;
    top: 20px;
    left: 5px;
    border-radius: 99em; }
  @media only screen and (min-width: 750px) {
    input[type=radio] + label, input[type=checkbox] + label {
      padding-left: 136px; }
      input[type=radio] + label.halfSize, input[type=checkbox] + label.halfSize {
        width: 50%;
        float: left; }
      input[type=radio] + label::before, input[type=checkbox] + label::before {
        left: 98px; }
    input[type=radio]:checked + label::after, input:checked[type=checkbox] + label::after {
      left: 104px; } }

input[type=checkbox] + label::before {
  height: 24px;
  width: 24px;
  border-radius: 0;
  top: 10px;
  border: 1px solid #232f3e; }

input[type=checkbox] + label.preventClick {
  pointer-events: none; }
  input[type=checkbox] + label.preventClick::before {
    border: none; }

input[type=checkbox]:checked + label::after {
  border-radius: 0;
  background: url("./img/icons/aws-certificate-icon-checkmark-dark.svg") no-repeat center center;
  background-size: 15px 14px;
  height: 25px;
  width: 25px;
  top: 10px;
  left: 0px; }

@media only screen and (min-width: 750px) {
  input[type=checkbox]:checked + label::after {
    left: 98px; } }

form[id^="mktoForm"].mktoForm {
  display: none;
  background: white; }
  form[id^="mktoForm"].mktoForm input[type=radio] + label, form[id^="mktoForm"].mktoForm input[type=checkbox] + label,
  form[id^="mktoForm"].mktoForm input[type=checkbox] + label {
    padding-left: 0;
    color: black;
    display: block; }
  form[id^="mktoForm"].mktoForm input[type=radio], form[id^="mktoForm"].mktoForm input[type=checkbox],
  form[id^="mktoForm"].mktoForm input[type=checkbox] {
    display: block; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: white;
  height: 100%; }
  html main, body main {
    min-height: calc(100% - 96px); }
    @media only screen and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
      html main, body main {
        background: white url("./img/backgrounds/aws-certificate-bg-blocks.png") no-repeat bottom right;
        background-size: 147px; } }
    @media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
      html main, body main {
        background: white url("./img/backgrounds/aws-certificate-bg-blocks.png") no-repeat bottom right;
        background-size: 147px; } }
    @media screen and (min-height: 700px) {
      html main, body main {
        background: white url("./img/backgrounds/aws-certificate-bg-blocks.png") no-repeat bottom right;
        background-size: 147px; } }
    @media only screen and (min-width: 1024px) {
      html main, body main {
        position: relative;
        background-size: 221px; } }

*, *:before, *::before, *:after, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

main .startLine {
  padding-left: calc((100% - 1322px) / 2);
  height: 41px;
  position: relative; }
  main .startLine::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: calc((100% - 1322px) / 2);
    background: #ff9900; }
  main .startLine .shapeHolder {
    background: url("./img/design/aws-certificate-shape.png") no-repeat top left;
    height: 41px;
    width: 76px;
    display: block;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    margin-left: -2px;
    position: relative; }
    main .startLine .shapeHolder::after {
      content: '';
      position: absolute;
      top: 0;
      right: 74px;
      height: 4px;
      max-width: 901px;
      width: 901px;
      background: #ff9900; }
  main .startLine.noHeight {
    background: none;
    -webkit-transition: height 0s ease;
    transition: height 0s ease;
    height: 0;
    min-height: 0; }
    main .startLine.noHeight::before {
      background: none;
      -webkit-transition: height 0s ease;
      transition: height 0s ease;
      height: 0;
      min-height: 0; }
    main .startLine.noHeight .moveOut {
      background: none;
      -webkit-transition: height 0s ease;
      transition: height 0s ease;
      height: 0;
      min-height: 0; }
      main .startLine.noHeight .moveOut::after {
        background: none;
        -webkit-transition: height 0s ease;
        transition: height 0s ease;
        height: 0;
        min-height: 0; }

body.bodyResults {
  background-image: none; }
  body.bodyResults main, body.bodyResults main section {
    height: auto; }
  body.bodyResults main section.page.quizContainer {
    left: 20px;
    right: 20px; }
  @media only screen and (min-width: 750px) {
    body.bodyResults main section.page.quizContainer {
      left: 0;
      right: 0; } }
  @media only screen and (min-width: 1024px) {
    body.bodyResults main section.page.quizContainer {
      left: 0;
      width: 100%;
      max-width: 100%; }
      body.bodyResults main section.page.quizContainer .otherClassesContainer {
        max-width: 1130px;
        width: calc(100% - 40px); } }

div.innerContainer {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1210px; }
  div.innerContainer::after {
    clear: both;
    content: "";
    display: block; }

div.innerHeader {
  margin: 0 20px;
  padding: 26px 0px 27px;
  max-width: 1170px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  div.innerHeader::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 1170px) {
    div.innerHeader {
      margin: 0 auto;
      max-width: 1170px; } }

.insideHeader .logoLink {
  display: block;
  float: left; }
  .insideHeader .logoLink img {
    vertical-align: top;
    height: 43px; }

@-webkit-keyframes moveElementsInPlace {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveElementsInPlace {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveElementsOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px); } }

@keyframes moveElementsOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px); } }

@-webkit-keyframes moveElementsIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(110px);
            transform: translateX(110px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveElementsIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(110px);
            transform: translateX(110px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media only screen and (min-width: 1024px) {
  @-webkit-keyframes moveElementsIn {
    0% {
      opacity: 0;
      -webkit-transform: translateX(110px);
              transform: translateX(110px); }
    50% {
      opacity: 0; }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  @keyframes moveElementsIn {
    0% {
      opacity: 0;
      -webkit-transform: translateX(110px);
              transform: translateX(110px); }
    50% {
      opacity: 0; }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } } }

main {
  padding-top: 0px; }
  main .innerContainer {
    overflow: hidden; }
  main section {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    left: 0px;
    right: 20px; }
    main section .moveIn-q1 {
      -webkit-animation: moveElementsIn 500ms ease-in 70ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 70ms 1 forwards; }
    main section .moveIn-q2 {
      -webkit-animation: moveElementsIn 500ms ease-in 100ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 100ms 1 forwards; }
    main section .moveIn-q3 {
      -webkit-animation: moveElementsIn 500ms ease-in 130ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 130ms 1 forwards; }
    main section .moveIn-q4 {
      -webkit-animation: moveElementsIn 500ms ease-in 160ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 160ms 1 forwards; }
    main section .moveIn-q5 {
      -webkit-animation: moveElementsIn 500ms ease-in 190ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 190ms 1 forwards; }
    main section .moveIn-q6 {
      -webkit-animation: moveElementsIn 500ms ease-in 220ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 220ms 1 forwards; }
    main section .moveIn-q7 {
      -webkit-animation: moveElementsIn 500ms ease-in 250ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 250ms 1 forwards; }
    main section .moveIn-q8 {
      -webkit-animation: moveElementsIn 500ms ease-in 280ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 280ms 1 forwards; }
    main section .moveIn-q9 {
      -webkit-animation: moveElementsIn 500ms ease-in 310ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 310ms 1 forwards; }
    main section .moveIn-q10 {
      -webkit-animation: moveElementsIn 500ms ease-in 340ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 340ms 1 forwards; }
    main section .moveIn-q11 {
      -webkit-animation: moveElementsIn 500ms ease-in 370ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 370ms 1 forwards; }
    main section .moveIn-q12 {
      -webkit-animation: moveElementsIn 500ms ease-in 400ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 400ms 1 forwards; }
    main section .moveIn-q13 {
      -webkit-animation: moveElementsIn 500ms ease-in 430ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 430ms 1 forwards; }
    main section .moveIn-q14 {
      -webkit-animation: moveElementsIn 500ms ease-in 460ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 460ms 1 forwards; }
    main section .moveIn-q15 {
      -webkit-animation: moveElementsIn 500ms ease-in 490ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 490ms 1 forwards; }
    main section .moveIn-q16 {
      -webkit-animation: moveElementsIn 500ms ease-in 520ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 520ms 1 forwards; }
    main section .moveIn-q17 {
      -webkit-animation: moveElementsIn 500ms ease-in 550ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 550ms 1 forwards; }
    main section .moveIn-q18 {
      -webkit-animation: moveElementsIn 500ms ease-in 580ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 580ms 1 forwards; }
    main section .moveIn-q19 {
      -webkit-animation: moveElementsIn 500ms ease-in 610ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 610ms 1 forwards; }
    main section .moveIn-q20 {
      -webkit-animation: moveElementsIn 500ms ease-in 640ms 1 forwards;
              animation: moveElementsIn 500ms ease-in 640ms 1 forwards; }
    main section .moveIn-place {
      -webkit-animation: moveElementsInPlace 1s 0s 1 forwards;
              animation: moveElementsInPlace 1s 0s 1 forwards; }
    main section .moveOut {
      -webkit-animation: moveElementsOut 0.5s ease-in 0s 1 forwards;
              animation: moveElementsOut 0.5s ease-in 0s 1 forwards; }
    main section .moveIn {
      -webkit-animation: moveElementsIn 0.5s ease-in 0.3s 1 forwards;
              animation: moveElementsIn 0.5s ease-in 0.3s 1 forwards; }
    main section .moveIn-header {
      -webkit-animation: moveElementsIn 0.5s ease-in 0s 1 forwards;
              animation: moveElementsIn 0.5s ease-in 0s 1 forwards; }
    main section h1, main section h3, main section p {
      color: #232f3e; }
    main section h3 {
      white-space: pre-line; }
    main section span.hintText {
      font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      margin-top: 13px; }
      main section span.hintText {
        font-size: 0.875rem; }
        @media screen and (min-width: 25rem) {
          main section span.hintText {
            font-size: calc(0.875rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          main section span.hintText {
            font-size: 1.125rem; } }
    main section.pageStart {
      padding-left: 20px;
      padding-top: 96px; }
      main section.pageStart .ctaButton, main section.pageStart section.page .nextButton, main section.page section.pageStart .nextButton {
        margin-top: 40px; }
      main section.pageStart.noHeight {
        background: none;
        -webkit-transition: height 0s ease;
        transition: height 0s ease;
        height: 0;
        min-height: 0; }
        main section.pageStart.noHeight .moveOut {
          background: none;
          -webkit-transition: height 0s ease;
          transition: height 0s ease;
          height: 0;
          min-height: 0; }
    main section.page .questionsHold {
      opacity: 0;
      -webkit-transition: -webkit-transform 1.5s ease;
      transition: -webkit-transform 1.5s ease;
      transition: transform 1.5s ease;
      transition: transform 1.5s ease, -webkit-transform 1.5s ease;
      overflow: hidden;
      padding-left: 20px; }
      main section.page .questionsHold.show {
        opacity: 1; }
      main section.page .questionsHold div.buttonHolder, main section.page .questionsHold h1, main section.page .questionsHold input, main section.page .questionsHold label, main section.page .questionsHold h3 {
        -webkit-transform: translateX(105%);
                transform: translateX(105%); }
        main section.page .questionsHold div.buttonHolder.halfSize, main section.page .questionsHold h1.halfSize, main section.page .questionsHold input.halfSize, main section.page .questionsHold label.halfSize, main section.page .questionsHold h3.halfSize {
          -webkit-transform: translateX(210%);
                  transform: translateX(210%); }
    main section.page .bottomLine {
      position: absolute;
      bottom: 96px;
      width: 100%;
      background: url("./img/design/aws-certificate-line-bottom.png") no-repeat bottom left;
      display: block;
      height: 41px; }
    main section.page .pageNumber {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
      margin-bottom: 19px;
      color: rgba(35, 47, 62, 0.75);
      font-size: 42px;
      line-height: 0.8;
      letter-spacing: 2px;
      font-family: AmazonEmber-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      main section.page .pageNumber {
        font-size: 2.625rem; }
        @media screen and (min-width: 25rem) {
          main section.page .pageNumber {
            font-size: calc(2.625rem + 4.375 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          main section.page .pageNumber {
            font-size: 7rem; } }
    main section.page .nextButton {
      color: #232f3e; }
      main section.page .nextButton:enabled {
        color: #232f3e;
        opacity: 1 !important; }
      main section.page .nextButton:disabled {
        opacity: 0.8; }
        main section.page .nextButton:disabled:hover {
          color: #232f3e;
          cursor: not-allowed; }
      main section.page .nextButton.btnHidden {
        display: none; }
    main section.page .previousButton {
      display: block; }
      main section.page .previousButton.btnHidden {
        display: none; }
  main .btnHidden {
    display: none; }
  @media only screen and (min-width: 750px) {
    main section.quizContainer {
      position: static;
      padding-bottom: 64px; }
    main section.pageStart {
      max-width: 875px; }
      main section.pageStart h1 {
        margin-bottom: 1.125rem; }
      main section.pageStart .ctaButton, main section.pageStart section.page .nextButton, main section.page section.pageStart .nextButton {
        margin-top: 2rem; }
    main section.page .questionsHold {
      max-width: 875px; }
    main section.page .pageNumber {
      position: absolute;
      bottom: 20px;
      right: 20px;
      line-height: 0.9;
      letter-spacing: 4px;
      margin: 0; }
    main section.page .nextButton, main section.page .previousButton, main section.page .ctaButton, main section.page .nextButton {
      margin-left: 136px; }
    main section.page .mainClass .ctaButton, main section.page .mainClass .nextButton {
      margin-left: 0; }
    main section.page .nextButton {
      margin-top: 40px; }
    main #question::after {
      clear: both;
      content: "";
      display: block; } }
  @media only screen and (min-width: 1024px) {
    main section {
      left: 0px;
      width: 100%; }
      main section.pageStart {
        left: 0px;
        -webkit-transform: translateX(0);
                transform: translateX(0); }
      main section.page .pageNumber {
        position: absolute;
        right: 9%;
        bottom: 4%;
        line-height: 0.9;
        letter-spacing: 4px;
        margin: 0; }
    main #question::after {
      clear: both;
      content: "";
      display: block; }
    main #question h3 {
      margin-bottom: 2.0625rem; } }
  @media only screen and (min-width: 1170px) {
    main section.pageStart {
      max-width: 975px;
      left: calc((100% - 1330px) / 2);
      padding-left: 80px; }
    main section.page .pageNumber {
      right: 16%;
      bottom: 9%;
      line-height: 0.9;
      letter-spacing: 4px;
      margin: 0; }
    main section.quizContainer .questionsHold {
      max-width: calc(855px + (100% - 1170px) / 2);
      padding-left: calc((100% - 1170px) / 2); } }

body.bodyResults main section,
body.bodyResults main div.innerContainer {
  overflow: visible; }

#quiz-results {
  background: transparent;
  width: 100%;
  display: block;
  margin-top: 0px; }
  #quiz-results .resultsHeader {
    max-width: 1170px;
    position: relative;
    padding-left: calc((100% - 1170px) / 2);
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    #quiz-results .resultsHeader::before {
      content: '';
      position: absolute;
      bottom: 21px;
      left: -800px;
      height: 4px;
      max-width: 800px;
      width: 800px;
      background: #ff9900;
      z-index: 15; }
    #quiz-results .resultsHeader .shapeResults {
      background: url("./img/design/aws-certificate-shape.png") no-repeat top left;
      height: 41px;
      width: 76px;
      display: block;
      position: absolute;
      z-index: 5;
      margin-left: -2px; }
      #quiz-results .resultsHeader .shapeResults::after {
        content: '';
        position: absolute;
        height: 4px;
        bottom: 0;
        left: 74px;
        background: #ff9900; }
    #quiz-results .resultsHeader .shapeHolderLeftResults {
      bottom: -16px; }
      #quiz-results .resultsHeader .shapeHolderLeftResults::after {
        max-width: 110px;
        width: 110px; }
    #quiz-results .resultsHeader .innerHolder {
      display: inline-block;
      position: relative;
      padding-top: 22px;
      padding-bottom: 22px; }
      #quiz-results .resultsHeader .innerHolder .shapeHolderRightResults {
        top: 0;
        right: -25px; }
        #quiz-results .resultsHeader .innerHolder .shapeHolderRightResults::after {
          max-width: 1200px;
          width: 1200px; }
        #quiz-results .resultsHeader .innerHolder .shapeHolderRightResults::before {
          content: '';
          position: absolute;
          top: 0;
          left: -108px;
          height: 4px;
          max-width: 110px;
          width: 110px;
          background: #ff9900; }
    #quiz-results .resultsHeader div.innerResults {
      position: relative;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 22px;
      margin: 0 auto;
      padding-top: 37px;
      max-width: 1170px;
      background: #eaeded; }
    #quiz-results .resultsHeader h2 {
      color: #232f3e;
      margin-bottom: 1rem; }
      #quiz-results .resultsHeader h2 {
        font-size: 1.5rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .resultsHeader h2 {
            font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .resultsHeader h2 {
            font-size: 2.5rem; } }
    #quiz-results .resultsHeader p {
      margin-bottom: 0; }
      #quiz-results .resultsHeader p {
        font-size: 1rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .resultsHeader p {
            font-size: calc(1rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .resultsHeader p {
            font-size: 1.125rem; } }
    @media only screen and (min-width: 750px) {
      #quiz-results .resultsHeader::before {
        bottom: 59px; }
      #quiz-results .resultsHeader .shapeHolderLeftResults {
        bottom: 22px; }
        #quiz-results .resultsHeader .shapeHolderLeftResults::after {
          max-width: 110px;
          width: 110px; }
      #quiz-results .resultsHeader div.innerResults {
        padding-right: 100px;
        padding-left: 100px; }
      #quiz-results .resultsHeader h2 {
        margin-bottom: 0rem; } }
  #quiz-results .mainClass {
    margin: 0 auto;
    max-width: 1170px;
    text-align: left;
    background: #eaeded; }
    #quiz-results .mainClass div.innerResults {
      padding: 62px 20px 2rem; }
    #quiz-results .mainClass img {
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 159px;
      margin-bottom: 15px; }
    #quiz-results .mainClass h3 {
      line-height: 1.25rem;
      font-family: AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400; }
      #quiz-results .mainClass h3 {
        font-size: 1.25rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .mainClass h3 {
            font-size: calc(1.25rem + 1.25 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .mainClass h3 {
            font-size: 2.5rem; } }
    #quiz-results .mainClass p {
      margin-bottom: 1.5rem; }
    #quiz-results .mainClass.specResults div.innerResults {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      #quiz-results .mainClass.specResults div.innerResults article {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 32px; }
        #quiz-results .mainClass.specResults div.innerResults article img {
          margin-bottom: 24px;
          width: 200px; }
        #quiz-results .mainClass.specResults div.innerResults article .mainText h3 {
          line-height: 1.2;
          margin-bottom: 1.5rem; }
          #quiz-results .mainClass.specResults div.innerResults article .mainText h3 {
            font-size: 1.5rem; }
            @media screen and (min-width: 25rem) {
              #quiz-results .mainClass.specResults div.innerResults article .mainText h3 {
                font-size: calc(1.5rem + 0.5 * ((100vw - 25rem) / 48.125)); } }
            @media screen and (min-width: 73.125rem) {
              #quiz-results .mainClass.specResults div.innerResults article .mainText h3 {
                font-size: 2rem; } }
        #quiz-results .mainClass.specResults div.innerResults article .mainText h3, #quiz-results .mainClass.specResults div.innerResults article .mainText p {
          text-align: left; }
      #quiz-results .mainClass.specResults div.innerResults .specLearnMore {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  #quiz-results .otherClassesContainer {
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 41px; }
    #quiz-results .otherClassesContainer p {
      line-height: 1.2;
      max-width: 670px; }
      #quiz-results .otherClassesContainer p {
        font-size: 1rem; }
        @media screen and (min-width: 25rem) {
          #quiz-results .otherClassesContainer p {
            font-size: calc(1rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          #quiz-results .otherClassesContainer p {
            font-size: 1.125rem; } }
      #quiz-results .otherClassesContainer p a {
        line-height: 1.2;
        color: #ff9900; }
        #quiz-results .otherClassesContainer p a {
          font-size: 1rem; }
          @media screen and (min-width: 25rem) {
            #quiz-results .otherClassesContainer p a {
              font-size: calc(1rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
          @media screen and (min-width: 73.125rem) {
            #quiz-results .otherClassesContainer p a {
              font-size: 1.125rem; } }
  @media only screen and (min-width: 750px) {
    #quiz-results {
      margin: 60px auto 0; }
      #quiz-results .mainClass {
        margin: 0 auto 2.625rem;
        text-align: left; }
        #quiz-results .mainClass div.innerResults {
          padding: 60px 100px 85px 100px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        #quiz-results .mainClass img {
          width: 226px;
          margin-bottom: 1.5rem; }
        #quiz-results .mainClass .mainText {
          text-align: right;
          max-width: calc(100% - 226px);
          padding-left: 4.5625rem; }
          #quiz-results .mainClass .mainText h3 {
            line-height: 1.2;
            margin-bottom: 1.5rem; }
          #quiz-results .mainClass .mainText h3, #quiz-results .mainClass .mainText p {
            text-align: left; }
        #quiz-results .mainClass.thanksResults div.innerResults {
          padding: 0; }
      #quiz-results .otherClassesContainer {
        padding-top: 0; } }
  @media only screen and (min-width: 1024px) {
    #quiz-results .mainClass {
      margin: 0 auto 2.625rem;
      text-align: left; }
      #quiz-results .mainClass div.innerResults {
        padding: 60px 100px 85px 172px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #quiz-results .mainClass img {
        width: 226px; }
      #quiz-results .mainClass .mainText {
        text-align: right;
        max-width: calc(100% - 226px);
        padding-left: 4.5625rem; }
        #quiz-results .mainClass .mainText h3 {
          line-height: 1.2;
          margin-bottom: 1.5rem; }
        #quiz-results .mainClass .mainText h3, #quiz-results .mainClass .mainText p {
          text-align: left; }
      #quiz-results .mainClass.specResults div.innerResults {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        #quiz-results .mainClass.specResults div.innerResults article {
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          #quiz-results .mainClass.specResults div.innerResults article img {
            width: 150px; }
          #quiz-results .mainClass.specResults div.innerResults article .mainText {
            text-align: right;
            max-width: calc(100% - 150px);
            padding-left: 4.5625rem; }
            #quiz-results .mainClass.specResults div.innerResults article .mainText h3 {
              line-height: 1.2;
              margin-bottom: 1.5rem; }
            #quiz-results .mainClass.specResults div.innerResults article .mainText h3, #quiz-results .mainClass.specResults div.innerResults article .mainText p {
              text-align: left; } }

.resultsFooter {
  background: url("./img/aws-training-bg-results.png") no-repeat top center;
  padding: 119px 0 109px;
  margin-top: 2.375rem;
  height: auto;
  text-align: left; }
  .resultsFooter h3 {
    color: #232f3e;
    margin-bottom: 1.5rem; }
    .resultsFooter h3 {
      font-size: 1.5rem; }
      @media screen and (min-width: 25rem) {
        .resultsFooter h3 {
          font-size: calc(1.5rem + 1 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        .resultsFooter h3 {
          font-size: 2.5rem; } }
  .resultsFooter a.ctaButton, .resultsFooter main section.page a.nextButton, main section.page .resultsFooter a.nextButton {
    max-width: 275px;
    margin-left: 0 !important; }
  @media only screen and (min-width: 750px) {
    .resultsFooter h3 {
      max-width: 550px;
      margin-bottom: .8125rem; } }
  @media only screen and (min-width: 750px) {
    .resultsFooter {
      background-size: cover; } }
