html, body {
    box-sizing              : border-box;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    margin                  : 0;
    padding                 : 0;
    background              : $body-background-color;
    height                  : 100%;

    // iPhone 6+, 7+, and 8+
    @media only screen
        and (max-device-width:700px)
        and (-webkit-min-device-pixel-ratio: 2) {
            background      : $body-background-color url('./img/aws-training-bg-blocks.png') no-repeat bottom right;
            background-size : 147px;
        }
    // Galaxy S4, S5 and Note 3
    @media screen
        and (device-width: 320px)
        and (device-height: 640px)
        and (-webkit-device-pixel-ratio: 3) {
            background      : $body-background-color url('./img/aws-training-bg-blocks.png') no-repeat bottom right;
            background-size : 147px;
        }
    @media screen and (min-height: 700px) {
        background      : $body-background-color url('./img/aws-training-bg-blocks.png') no-repeat bottom right;
        background-size : 147px;
    }
    @media only screen and ($desktop-media) {
        position        : relative;
        background-size : 321px;
    }
}

*, *:before, *::before, *:after, *::after {
    box-sizing : inherit;
}

body {

}

body.bodyResults {
    background-image : none;
    main, main section {
        height : auto;
    }
    main section.page {
        &.quizContainer {
            left : 0;
            right : 0;
            h2, div.mainClass {
                margin-right : 20px;
                margin-left : 20px;
            }
            div.otherClassesContainer {
                padding-left : 20px;
                padding-right : 20px;
            }
        }
    }
    @media only screen and ($desktop-media) {
        main section.page.quizContainer {
            left : 0;
            width : 100%;
            max-width : 100%;
            .otherClassesContainer {
                max-width : 1130px;
                width : calc(100% - 40px);
            }
        }
    }
}
div.innerContainer {
    @include clearfix;
    padding   : 0 20px;
    margin    : 0 auto;
    width     : 100%;
    max-width : 1170px;
}
div.innerHeader {
    @include clearfix;
    margin        : 0 20px;
    padding       : 20px 0px;
    max-width     : 1170px;
    border-bottom : 1px solid rgba(255, 255, 255, 0.15);
    @media only screen and (min-width: 1170px) {
        margin  : 0 auto;
        max-width: 1130px;
    }
}

.insideHeader {
    .logoLink {
        display : block;
        width   : 66px;
        float   : left;
        img {
            vertical-align : top;
        }
    }
    span {
        font-size   : 18px;
        line-height : 18px;
        font-family : $light-font;
        color       : $white;
        width       : 96px;
        display     : block;
        float       : left;
        margin-left : 11px;
    }
}// end .insideHeader

@mixin elementAnimation($gap: 30, $duration: 500) {
    $delay : 40;
    // $gap : 30;
    @for $i from 1 through 10 {
        $delay: $delay + $gap;
        .moveIn-q#{$i} {
            animation : moveElementsIn #{$duration}ms ease-in #{$delay}ms 1 forwards;
        }
    }
}

@keyframes moveElementsInPlace {
    0% {
        opacity : 0;
        transform: translateX(0);
    }
    100% {
        opacity : 1;
        transform: translateX(0);
    }
}
@keyframes moveElementsOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity : 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-110px);
    }
}

@keyframes moveElementsIn {
    0% {
        opacity : 0;
        transform: translateX(110px);
    }
    100% {
        opacity : 1;
        transform : translateX(0);
    }
}
@media only screen and ($desktop-media) {
    @keyframes moveElementsIn {
        0% {
            opacity : 0;
            transform: translateX(110px);
        }
        50% {
            opacity : 0;
        }
        100% {
            opacity : 1;
            transform : translateX(0);
        }
    }
}



// Body Styles
main {
    padding-top : 32px;
    .innerContainer {
        overflow: hidden;
    }
    section {
        @include elementAnimation();
        .moveIn-place {
            animation : moveElementsInPlace 1s 0s 1 forwards;
        }
        .moveOut {
            animation : moveElementsOut 0.5s ease-in 0s 1 forwards;
        }
        .moveIn {
            animation : moveElementsIn 0.5s ease-in 0.3s 1 forwards;
        }
        .moveIn-header {
            animation : moveElementsIn 0.5s ease-in 0s 1 forwards;
        }
        h1, h3, p {
            color : $white;
        }
        h3 {
            white-space: pre-line;
        }
        position : absolute;
        overflow : hidden;
        z-index  : 10;
        left     : 0px;
        right    : 20px;
        &.pageStart {
            padding-left : 20px;
            padding-top : 25px;
            .ctaButton {
                margin-top : 40px;
            }
            &.noHeight {
                transition : height 0s ease;
                height : 0;
                min-height : 0;
                .moveOut {
                    transition : height 0s ease;
                    height : 0;
                    min-height : 0;
                }
            }
        }
        &.page {
            .questionsHold {
                opacity : 0;
                transition : transform 1.5s ease;
                overflow: hidden;
                padding-left : 20px;
                &.show {
                    opacity : 1;
                }
                div.buttonHolder, h1, input, label, h3 {
                    transform: translateX(105%);
                }
                div.buttonHolder {
                    //opacity : 0;
                }

            }
            .pageNumber {
                transform: translateX(105%);
                @include fluid-type(2.625rem, 9rem);
                margin-bottom  : 19px;
                color          : rgba($white, 0.75);
                font-size      : 42px;
                line-height    : 0.8;
                letter-spacing : 2px;
                font-family    : $thin-font;
            }
            .nextButton {
                @extend .ctaButton;
                background : $brand-chromium;
                color      : rgb(162, 188, 192);
                &:enabled {
                    color : $brand-squid-ink;
                }
                &:disabled {
                    &:hover {
                        color : rgb(162, 188, 192);
                        cursor : not-allowed;
                    }
                }

                &.btnHidden {
                    display : none;
                }
            }
            .previousButton {
                display : block;
                &.btnHidden {
                    display: none;
                }
            }

        }
    }
    div.questionsHold {
    }
    .btnHidden {
        display : none;
    }
    @media only screen and ($tablet-media) {
        section {
            min-height : calc(100% - 113px);
            &.pageStart {
                max-width : 875px;
                h1 {
                    margin-bottom: 1.125rem;
                }
                .ctaButton {
                    margin-top : 2rem;
                }
            }// end &.pageStart
            &.page {
                .questionsHold {
                    max-width : 875px;
                }

                .pageNumber {
                    position: absolute;
                    bottom : 20px;
                    right : 20px;
                    //font-size : 144px;
                    line-height: 0.9;
                    letter-spacing: 4px;
                    margin : 0;
                }
                .nextButton, .previousButton, .ctaButton {
                    margin-left : 100px;
                }
                .nextButton {
                    margin-top : 40px;
                }
            }
        }
    }// end media($tablet-media)
    @media only screen and ($desktop-media) {
        height : calc(100% - 113px);
        section {
            // @include elementAnimation(30, 250);
            left : 0px;
            width : 100%;
            &.pageStart {
                left : 0px;
                transform: translateX(0);
            }
        }
        #question {
            h3 {
                margin-bottom: 3rem;
            }
        }
    }
    @media only screen and ($container){
        section {
            //left : calc(50% - 50px);
            //max-width : 1330px;
            &.pageStart {
                max-width : 975px;
                left : calc((100% - 1330px) / 2);
                padding-left : 100px;
            }
            &.quizContainer {
                .questionsHold {
                    max-width : calc(875px + (100% - 1130px) / 2);
                    padding-left : calc((100% - 1130px) / 2);
                }
            }
        }
    }
}// end main

#quiz-results {
    background : transparent;
    width      : 100%;
    display    : block;
    margin-top : 0;
    h2 {
        @include fluid-type(1.5rem, 2.5rem);
        color         : $white;
        margin-bottom : 1.5rem;
        span {
            display: none;
            background : rgba($white, 0.05);
            font-size: 1.75rem;
            color : $brand-amazon-orange;
            font-family: $base-font;
            font-weight: 400;
            padding : 0 1.5rem;
            text-transform: uppercase;
            line-height: 48px;
            letter-spacing: 1px;
        }
    }
    .mainClass {
        padding    : 1.5rem 1.25rem 2rem;
        background : rgba($black, 0.15);
        text-align : center;
        img {
            width         : 96px;
            margin-bottom : 1.5rem;
        }
        h3 {
            @include fluid-type(1.25rem, 1.75rem);
            line-height    : 1.25rem;
            letter-spacing : 1.25px;
            text-transform : uppercase;
        }
        p {
            margin-bottom : 1.5rem;
        }
    }
    .otherClassesContainer {
        margin : 2rem auto;
        h4 {
            @include fluid-type(1.125rem, 1.5rem);
            font-family   : $base-font;
            line-height   : 1.625rem;
            color         : $white;
            margin-bottom : 1.875rem;
            font-weight   : 400;
        }
        article {
            padding       : 1.5rem 1.25rem;
            margin-bottom : 1.5rem;
            background    : rgba($black, 0.15);
            display       : flex;
            align-items   : flex-start;
            img {
                width : 64px;
            }
            div {
                padding-left : 1.5rem;
            }
            h5 {
                @include fluid-type(1rem, 1.25rem);
                line-height    : 1.25rem;
                letter-spacing : 1px;
                color          : $white;
                text-transform : uppercase;
                margin-bottom  : .5rem;
            }
            p {
                margin-top    : 0;
                margin-bottom : .625rem;
            }
        }
    }
    @media only screen and ($tablet-media) {
        margin  : 0 auto;
        text-align: center;
        h2 {
            max-width : 870px;
            margin    : 0 auto 1.5rem;
            span {
                display: inline-block;
            }
        }
        .mainClass {
            max-width  : $text;
            margin     : 0 auto 3.625rem;
            padding    : 4rem 6%;
            display    : flex;
            text-align : left;
            img {
                width : 180px;
                height : 180px;
            }
            .mainText {
                max-width : calc(100% - 180px);
                padding-left : 2.5rem;
                h3 {
                    line-height    : 1.2;
                    letter-spacing : 1px;
                    margin-bottom  : 1.5rem;
                }
            }
        }// end .mainClass
        .otherClassesContainer {
            display: flex;
            flex-wrap : wrap;
            justify-content : space-between;
            h4 {
                margin-bottom: 2.375rem;
                line-height: 1.5;
                flex-basis : 100%;
            }
            article {
                flex-basis : 32%;
                padding : 2rem 1.5rem;
                flex-wrap : wrap;
                align-content : flex-start;
                img {
                    max-width : 97px;
                    max-height : 97px;
                    margin : 0 auto .9375rem;
                    flex-basis : 100%;
                }
                div {
                    align-self : flex-start;
                    flex-basis : 100%;
                    padding : 0;
                }
            }
        }// end .otherClassesContainer
    }
    @media only screen and ($text-media) {

    }
}// end #quiz-results

.resultsFooter {
    background : url('./img/aws-training-bg-results.png') no-repeat top center;
    padding    : 119px 0 109px;
    margin-top : 2.375rem;
    height : auto;
    text-align: left;
    h3 {
        @include fluid-type(1.5rem, 2.5rem);
        color         : $brand-squid-ink;
        margin-bottom : 1.5rem;
    }
    a.ctaButton {
        max-width : 275px;
        margin-left : 0!important;
    }
    @media only screen and ($tablet-media) {
        h3 {
            max-width : 550px;
            margin-bottom: .8125rem;
        }
    }// end media($tablet-media)
    @media only screen and ($tablet-media) {
        background-size : cover;
    }
}// end .resultsFooter



