@keyframes radioCheck {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

input[type=radio] {
    display: none;
    + label {
        padding : 11px 0 11px 36px;
        font-size    : 18px;
        line-height  : 24px;
        display      : block;
        min-height   : 40px;
        color        : $body-font-color;
        position     : relative;
        &::before {
            content       : '';
            height        : 22px;
            width         : 22px;
            background    : linear-gradient(-135deg, rgba($brand-squid-ink, 0.20), rgba($brand-squid-ink, 0.05));
            position      : absolute;
            top           : 14px;
            left          : 0;
            border-radius : 99em;
        }
        &:hover {
            cursor : pointer;
        }
    }// + label
    &:checked + label {
        &::after {
            animation     : radioCheck 0.2s forwards;
            content       : '';
            height        : 10px;
            width         : 10px;
            background    : $brand-squid-ink;
            position      : absolute;
            top           : 20px;
            left          : 5px;
            border-radius : 99em;
        }
    }
    @media only screen and ($tablet-media) {
        + label {
            padding-left : 136px;
            &.halfSize {
                width : 50%;
                float : left;
            }
            &::before {
                left : 98px;
            }
        }
        &:checked + label {
            &::after {
                left : 104px;
            }
        }
    }// end media($tablet-media)
}// end input[type=radio]

input[type=checkbox] {
    @extend input[type=radio];
    + label {
        &::before {
            height        : 24px;
            width         : 24px;
            border-radius : 0;
            top : 10px;
            border : 1px solid $brand-squid-ink;
        }
        &.preventClick {
            pointer-events : none;
            &::before {
                border : none;
            }
        }
    }
    &:checked + label {
        &::after {
            border-radius: 0;
            background : url('./img/icons/aws-certificate-icon-checkmark-dark.svg') no-repeat center center;
            background-size : 15px 14px;
            height : 25px;
            width : 25px;
            top : 10px;
            left : 0px;
        }
    }
    @media only screen and ($tablet-media) {
        &:checked + label {
            &::after {
                left : 98px;
            }
        }
    }// end media($tablet-media)
}















