/*********************************************
 * MIXINS
 *********************************************/

// fluid type

$minWidth : 25rem;
$containerWidth : 73.125rem;

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw: $minWidth, $max-vw: $containerWidth) {
    $u1 : unit($min-vw);
    $u2 : unit($max-vw);
    $u3 : unit($min-font-size);
    $u4 : unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size : $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size : calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width:$max-vw) {
                font-size : $max-font-size;
            }
        }
    }
}

// Clearfix - way to clear floats
@mixin clearfix {
    &::after {
        clear   : both;
        content : "";
        display : block;
    }
}

// No height - used to hide elements
@mixin noHeight() {
    background : none;
    transition : height 0s ease;
    height     : 0;
    min-height : 0;
}