// Variables
$font-path : "./css/fonts";

@font-face {
  font-family: 'AmazonEmber-Thin';
  src: url('#{$font-path}/AmazonEmber-Thin.eot');
  src: url('#{$font-path}/AmazonEmber-Thin.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/AmazonEmber-Thin.woff') format('woff'),
       url('#{$font-path}/AmazonEmber-Thin.ttf') format('truetype'),
       url('#{$font-path}/AmazonEmber-Thin.svg#AmazonEmber-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber-Light';
  src: url('#{$font-path}/AmazonEmber-Light.eot');
  src: url('#{$font-path}/AmazonEmber-Light.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/AmazonEmber-Light.woff') format('woff'),
       url('#{$font-path}/AmazonEmber-Light.ttf') format('truetype'),
       url('#{$font-path}/AmazonEmber-Light.svg#AmazonEmber-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber-Regular';
  src: url('#{$font-path}/AmazonEmber-Regular.eot');
  src: url('#{$font-path}/AmazonEmber-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/AmazonEmber-Regular.woff') format('woff'),
       url('#{$font-path}/AmazonEmber-Regular.ttf') format('truetype'),
       url('#{$font-path}/AmazonEmber-Regular.svg#AmazonEmber-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber-Bold';
  src: url('#{$font-path}/AmazonEmber-Bold.eot');
  src: url('#{$font-path}/AmazonEmber-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/AmazonEmber-Bold.woff') format('woff'),
       url('#{$font-path}/AmazonEmber-Bold.ttf') format('truetype'),
       url('#{$font-path}/AmazonEmber-Bold.svg#AmazonEmber-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

