@keyframes radioCheck {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

input[type=radio] {
    display: none;
    + label {
        padding : 8px 0 8px 36px;
        font-size    : 16px;
        line-height  : 24px;
        display      : block;
        min-height   : 40px;
        color        : $white;
        position     : relative;
        &::before {
            content       : '';
            height        : 20px;
            width         : 20px;
            background    : linear-gradient(-135deg, rgba($white, 0.20), rgba($white, 0.05));
            position      : absolute;
            top           : 10px;
            left          : 0;
            border-radius : 99em;
        }
        &:hover {
            cursor : pointer;
        }
    }// + label
    &:checked + label {
        &::after {
            animation : radioCheck 0.2s forwards;
            content       : '';
            height        : 10px;
            width         : 10px;
            background    : $white;
            position      : absolute;
            top           : 15px;
            left          : 5px;
            border-radius : 99em;
        }
    }
    @media only screen and ($tablet-media) {
        + label {
            padding-left : 136px;
            &::before {
                left : 100px;
            }
        }
        &:checked + label {
            &::after {
                left : 105px;
            }
        }
    }// end media($tablet-media)
}// end input[type=radio]

input[type=checkbox] {
    @extend input[type=radio];
    + label {
        &::before {
            border-radius: 0;
        }
    }
    &:checked + label {
        &::after {
            border-radius: 0;
            background : url('./img/aws-training-icon-checkmark.svg') no-repeat center;
            background-size : 11px 10px;
            height : 20px;
            width : 20px;
            top : 10px;
            left : 0px;
        }
    }
    @media only screen and ($tablet-media) {
        &:checked + label {
            &::after {
                left : 100px;
            }
        }
    }// end media($tablet-media)
}















