// Fonts
$base-font : AmazonEmber-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font : AmazonEmber-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font : AmazonEmber-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
$thin-font : AmazonEmber-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size : 16px;

// Colors
// Primary

$brand-amazon-orange : rgb(255, 153, 0);
$brand-squid-ink     : rgb(35, 47, 62);

// Secondary
$brand-copper     : rgb(236, 114, 17);
$brand-bromine    : rgb(235, 95, 7);
$brand-argon      : rgb(0, 161, 201);
$brand-cobalt     : rgb(0, 125, 188);
$brand-fluorine   : rgb(106, 175, 53);
$brand-phosphorus : rgb(30, 137, 0);
$brand-helium     : rgb(255, 87, 70);
$brand-neon       : rgb(223, 51, 18);

// Grays
$white           : rgb(255, 255, 255);
$brand-oxygen    : rgb(250, 250, 250);
$brand-magnesium : rgb(242, 244, 244);
$brand-chromium  : rgb(234, 237, 237);
$brand-zinc      : rgb(213, 219, 219);
$brand-silver    : rgb(170, 183, 184);
$brand-platinum  : rgb(135, 145, 150);
$brand-mercury   : rgb(84, 91, 100);

$black : rgb(0, 0, 0);
// Typography Variable
$header-font-color : $brand-squid-ink;
$header-line-height : 1.2;
$body-font-color : $brand-squid-ink;
$body-font : $base-font;
$body-line-height : 1.5;

// UI Variables
$body-background-color : $white;

// Layout Variables
$tablet-media  : 'min-width: 750px';
$text-media    : 'min-width: 970px';
$desktop-media : 'min-width: 1024px';
$container     : 'min-width: 1170px';

$tablet  : 750px;
$text    : 970px;
$desktop : 1024px;
$max-container : 1170px;

// Typography
body {
    color       : $body-font-color;
    font-family : $body-font;
    font-size   : $font-size;
    font-weight : 400;
    line-height : $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family : $header-font;
    color       : $header-font-color;
    line-height : $header-line-height;
    margin : 0 0 1rem;
}

h1, .h1 {
    @include fluid-type(2.25rem, 4.6875rem);
    line-height : 1.2;
}
h2, .h2 {
    @include fluid-type(1.75rem, 3.75rem);
}
h3, .h3 {
    @include fluid-type(1.5rem, 2.5rem);
}
h4, .h4 {
    @include fluid-type(1.125rem, 1.5rem);
}
h5, .h5 {
    @include fluid-type(1rem, 1.25rem);
}
h6, .h6 {
    @include fluid-type(1rem, 1.125rem);
    font-family: $light-font;
}

p {
    @include fluid-type(1rem, 1.25rem);
    line-height   : 1.5;
    margin-bottom : 1rem;
    margin-top    : 0;
}

a, p > a {
    @include fluid-type(1rem, 1.25rem);
    line-height     : 1.875;
    color           : $brand-argon;
    text-decoration : underline;
    &:hover {
        color : $brand-cobalt;
    }
}

.ctaButton {
    padding         : 12px 40px 12px;
    margin          : 16px 0px;
    font-size       : 1rem;
    line-height     : 16px;
    text-align      : center;
    vertical-align  : middle;
    cursor          : pointer;
    border-width    : 0px 0px 3px;
    border-style    : solid;
    border-color    : $brand-amazon-orange $brand-amazon-orange $brand-zinc;
    max-width       : 100%;
    //width : 100%;
    outline         : 0px;
    border-radius   : 0px;
    font-family     : $base-font;
    text-transform  : uppercase;
    font-weight     : 400;
    font-style      : normal;
    color           : $brand-squid-ink;
    text-decoration : none !important;
    background      : $brand-amazon-orange;
    min-width       : 190px;
    display         : inline-block;
    &:hover {
        color : $brand-squid-ink;
    }
    &.submitButton {
        opacity : 1.0!important;
    }
}













